@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Tilt+Neon&effect=neon|outline|emboss|shadow-multiple");
@import url("https://fonts.googleapis.com/css?family=Pacifico&effect=neon|outline|emboss|shadow-multiple");
@import url("https://fonts.googleapis.com/css?family=Poppins&effect=neon|outline|emboss|shadow-multiple");
body {
  top: 0;
  left: 0;
  margin: 0;
  font-family: "Poppins", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
